  <div class="container">
    <div class="row justify-content-md-center mb-3">
      <div class="col-12">
        <h3>
          問題：「　　」の中に入る言葉は何？
        </h3>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class= "col-12 ">
        <h2>
          <%= quize.first_line %>
        </h2>
        <h2>
        <%="　　　"%> <%= quize.second_line %>
        </h2>
          <h2>
          <%="　　　　　"%><%= quize.third_line %>
        </h2>
      </div>
      <hr>
        <p>
        <strong>問題のヒント：</strong>
        <%= quize.content %>
      </p>
    </div>
  </div>