  <p>
    <strong>Title:</strong>
    <%= quize.title %>
  </p>
  <p>
    <strong>Content:</strong>
    <%= quize.content %>
  </p>
  <p>
    <strong>first_line:</strong>
    <%= quize.first_line %>
  </p>

    <p>
    <strong>second_line:</strong>
    <%= quize.second_line %>
  </p>
    <p>
    <strong>third_line:</strong>
    <%= quize.third_line %>
  </p>