  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-auto">
        <h1 class="">
          <%= quize.title %>
        </h1>
      </div>
      <div class= "col-12 p-5">
        <h2>
          <%= quize.first_line %>
        </h2>
        <h2>
        <%="　　　"%> <%= quize.second_line %>
        </h2>
          <h2>
          <%="　　　　　"%><%= quize.third_line %>
        </h2>
      </div>
      <hr>
        <p>
        <strong>問題のヒント：</strong>
        <%= quize.content %>
      </p>
    </div>
  </div>